*{
	/*border:red 1px solid;*/
	margin:0;
	box-sizing:border-box;
}

@media only screen and (max-width:520px){
	.nav a{
		width:100% !important;
	}
	.menu{
		display:flex !important;
	}
	#mySidenav, .info{
		display:none;
	}
}

.body{
	max-width:1440px;
}

.wrapper{
	max-width:1145px;
}

.auto{
	margin-left:auto;
	margin-right:auto;		
}

.font{
	font-family:'Open Sans', sans-serif;
	font-weight:600;
}

.full{
	width:100%;
}

.gray{
	background-color: #333;	
}

.center{
	justify-content: center;
}

.flex{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.right{
	text-align:right;
}

.tel{
	font-size:12px;
}

.num{
	font-size:16px;
}

.loc{
	font-size:26px;
}

.italic{
	font-style:italic;
}

.uppercase{
	text-transform:uppercase;
}