@media only screen and (max-width : 850px){
	.upHead, .logo, .nav a, form, img{
		width:100% !important;
	}
	form{
		height:40px;
	}
	.right{
		text-align: center !important;	
	}	
	.big{
		font-size:1.5625em !important;
	}

	.small{
		font-size:0.875em !important;
	}
	.carousel-caption {
		top:0 !important;
	}
	.menu{
		display:flex !important;
	}
	#mySidenav{
		display:none;
	}

}

@media only screen and (max-width:550px){
	.carousel-caption {
		padding:0 0 0 2% !important;
	}
	
	.big{
		font-size:5px !important;
		margin:0 !important;
	}

	.small{
		margin:0 !important;
		font-size:3px !important;
	}
}



.menu{
	display:none;
	color:#fff;
}


@font-face{
	font-family: myFont;
	src:url('fonts/sosa.eot?#iefix') format('embedded-opentype'), 
	url('fonts/sosa.woff') format('woff'), 
	url('fonts/sosa.ttf') format('truetype'),
	url('fonts/sosa.svg') format('svg'); 
}

header{
	width: 100%;
	background-color: #333;	
	justify-content: center;
	
	
}

body{
	font-family: 'Open Sans', sans-serif;
}

.icon {
	top:0;
	font-family:myFont;
}

.logo{
}

.flex{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.upHead{
	width:80%;
/*	
	justify-content: center;*/
}

.downHead{
	width:100%;
	justify-content:center;
	background-color: #fff;	
}
	
.slide{
	margin:0 0 2% 0;
	padding:0;
}

.imgHold{
	
	background-color: #333;	
}

.info{
	flex-grow: 2;
	color:#cdcdcd;
	background-color: #333;	
	padding-right:1%;
}

.glyphicon{
	font-size:24px;
	color:#fff;
}

.glyphicon:hover{
	color:#8f8f8f;
}

.fa{
	padding: 9px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover{
	text-decoration: none;
	background: #8f8f8f;
	color: #fff;	
}

.fa-facebook {
	background: #fff;
	color: #333;
}

.fa-twitter {
	background: #fff;
	color: #333;
}

.nav {
    display: flex;
    background-color:#f4f4f4;
}

.home{
    color:#8f8f8f;	
}

.home:hover{
    color:#333;	
}

.nav a:first-child{
	width:9%;
}

.nav a{
    color:#8f8f8f;
    padding: 15px 0 5px 0;
    text-decoration: none;
    text-align: center;
	width:15%;
}

.nav a:hover, .nav a:focus {
    background-color: #d7d7d7;
    color: black;
	text-decoration:none;
}

.link{
}

form{
	width: 46%;
	font-style:italic;
}

input{
	height:100%;
	width:100%;
	border:none;
	border-bottom:solid #c8c8c8 1px;
	font-size:1em;
	padding-left:20px;
	box-shadow: 5px 5px 5px 5px inset;
	color:#b8b8b8;
	background-color:#eee9e9;
}

.right{
	text-align:right;
}

.left{
}


.big{
	font-size:2.375em;
	
}

.small{
	font-size:1.5em;
}

.icon {
	top:0;
	font-family:myFont;
}

.uppercase{
	text-transform:uppercase;
}

.grad{
	width:100%;
	height:30px;
	background: -webkit-linear-gradient(#bdbdbd, #fff);
	background: -o-linear-gradient(#bdbdbd, #fff);
	background: -moz-linear-gradient(#bdbdbd, #fff);
	background: linear-gradient(#bdbdbd, #fff);
}


*{
	/*border:red 1px solid;*/
	margin:0;
}

